[submodule "head.nvim"]
    path = head.nvim
    url = https://github.com/956MB/head.nvim
[submodule "ncks.nvim"]
    path = ncks.nvim
    url = https://github.com/956MB/ncks.nvim
[submodule "lazy.nvim"]
    path = lazy.nvim
    url = https://github.com/956MB/lazy.nvim
